
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
/**/

/* Default */

html, body{
   
    width: auto;
    height: auto;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    
   
}
body{
    background-color: black;
    color: white;
    zoom: 80%;
    
   
    
}
a{
    text-decoration: none;
}








/* Header */
header{
    width: 100%;
    background-color: black;
    margin: auto;
    display: flex;
    height: 120px;
    justify-content: space-between;
    align-items: center;
   
}

.btn-backtop {
    padding: 14px 16px;
    background-color: #FF38DF;
    border-radius: 12px;
    margin-left: 25px;
    position: fixed;
   
    
    
}
.backtotop{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navbar{
    width: 100%;
    margin:0 25px;
    height: 80px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    height: 100%;   
}
.logo img{
   height: 100%;
}
.menu .li-menu{
    display: inline-block;
    margin: 0 45px;
    
}
.menu .li-menu a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
}
.social-media{
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.social-media img{
   margin-right: 20px;
}
#bars{
    display: none;
    position: fixed;
    right: 30px;
    top: 30px;
    padding: 15px 10px;
    border-radius: 50%;
    flex-direction: column;
    border: 1px solid white;
    z-index: 4;

    
}

.autbar{
    width: 30px;
    height: 3px;
    background-color: white;
    margin: .2em;
    transition: 0.4s;
}
#mobileArea{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 3;
    background-color: black;
    justify-content: center;
    align-items: center;
    animation: show 1s;
    
}
#mobileArea ul li{
    text-align: center;
    margin: 2em 0;
    font-size: 38px;
    
}
#mobileArea ul li a{
color: white;

}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-5px, -5px);
    transform: rotate(45deg) translate(-7px, -8px);
  }


@keyframes show{
    from{
        opacity: 0.1;
    }
    to{
        opacity: 1;
    }

}

/* Introduction and Recents Projects */

.hello-albert{
    width: 100%;
    height: auto;
    max-width: 980px;
    margin: auto;
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7em 0;
}
.text{
       margin-left: 30px;
}
.hello{
       font-size: 46px;
}
.i-work{
    margin-top: 0.5em;
        font-size: 16px;
}
.projects{
    width: 100%;
    height: 100%;
    max-width: 980px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7em 0;
        
}
.title-projects{
        font-size: 20px;
}
.linecards{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3em 0;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 3em;
        
}
.card a{
    color: white;
    margin-top: 1em;
    text-decoration: none;
}
.eclipse01{
    clip-path: circle(150px 50% 0 0);
    position: absolute;
    right: 0px;
    top: 300;
    z-index: -1;
}
.see-projects{
    padding: 16px 32px;
   border: 1px solid #FF38DF;
    border-radius: 16px;
    
    color: white;
    text-decoration: none;
    margin-top: 1em;
}
.see-projects:hover{
    background-color: #FF38DF;
    transition: .6s;
    
}


/* Skills */

 .skills{
    width: 100%;
    height: auto;
    max-width: 980px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7em 0;
}
 .line-skills{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3em 0;
}
.skill-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 5em;
}
.title-skills{
    font-size:26px;
    color: #FFEB38;
    
}
.text-skills{
    font-size: 16px;
    font-weight: 400;
}
.eclipse02{
    position: absolute;
    left: -100px;
    top: 2300px;
    z-index: -1;
}

/* Contact e Rating  */

.rating{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
    margin: 5em 0;
}
.wrap-white{
    width: 100%;
    height: auto;
    background-color: white;
    color: black;
}
.contact-me{
    width: 100%;
    height: auto;
    max-width: 980px;
    margin: auto;
    display: flex;
        
       

}
.multi-projects{
    height: 100%;
    width: 50%;
    margin: 0;
    padding: 0;
}

.btns-mobile-wrap{
display: none;
}
.btn-contact{
    padding: 12px 42px;
    border-radius: 4px;
    background-color: #FF38DF;
    border: 1px solid #FF38DF;
    margin-left: 5em;
    font-size: 14px;
    text-decoration: none;
    color: white;
}

.btn-see{
    font-size: 14px;
    padding: 12px 32px;
    border-radius: 4px;
   border: 1px solid #FF38DF;
    margin-left: 1em;
    text-decoration: none;
    color: black;
    margin-top: 1em;
}
.btn-see:hover{
    background-color: #FF38DF;
    color: white;
    transition: .6s;
}
.btn-area-contact{
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.btn-area-contact h3{
    margin-left: 3em;
    font-size: 24px;
    font-weight: 300;
}
.btns-contacts{
    display: flex;

}
.skill-icon h3{
    margin-top: 1em;
}


/* Companies i worked for */

.companies{
    width: 100%;
    height: auto;
    max-width: 980px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7em 0;
}
.title-companies{
    margin-top: 25px;
    font-size: 28px;
    font-weight: 400;
}
.companies-grid{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 6em 0;
    padding-top: 4em;
}
.icon-companies{
    margin: 0 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icon-companies-title{
    font-size: 22px;
    font-weight: 500;
    margin-top: 15px;
}
.icon-companies-text{
    margin-top: 25px;
}
.be-the-next{
    font-size: 18px;
    margin-top: 25px;
    font-weight: 500;
}
.btn-contact-companies{
    padding: 12px 42px;
    border-radius: 4px;
    background-color: #FF38DF;
    border: 1px solid #FF38DF;
    margin-top: 5em;
    font-size: 14px;
    text-decoration: none;
    color: white;

}



/* Footer   */


.footer{
    width: 100%;
    height: auto;
    max-width: 980px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 7em 0;
}
.footer p{
    margin-bottom: 2em;
    font-size: 18px;
}
.footer ul{
    list-style: none;
    margin: 1em 7em;
    margin-left: 0;
    padding: 1em;
}
.footer ul:hover{
    cursor: default;
  
}
.footer ul li{
    margin: 1em 0;
}
.footer ul li a{
    text-decoration: none;
    color: white;
}
.footer ul li a:hover{
    color:#FF38DF ;
}
.eclipse03{
    
    position: relative;
    margin: 0;
    padding: 0;
   right: 0;
   bottom: 0;
}
.display{
    display: none;
}
.rating-number{
    display: none;
}
.mobile-wrap{
    display: none;
}
.display-rating-mobile{
    display: none;
}





/* Medias  */




@media(max-width:768px){
    .menu .li-menu{
        display: inline-block;
        margin: 0 25px;
        
    }
    .navbar{
        width: 100%;
        margin:0 25px;
        height: 80px;
        margin-right: 0px;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card img{
        width: 70%;
}
    .card a{
        font-size: 12px;
    }
    .skill-icon img{
        width: 70%;
    }
    .rating img{
        width: 80%;
    }
    .icon-companies img{

        width: 70%;
    }
    .icon-companies h3{
        font-size: 18px;
    }
    .icon.companies h4{
        font-size: 12px;
    }
}

@media(max-width:425px){

    #bars{
        display: flex;
    }

    .logoIMG{
        position: absolute;
        right: 0;
        left: 50%;
        transform: translate(-50%);
        max-width:70px;
        max-height: 70px;
    }
  
    .menu{
        display: none;
    }
   .social-media{
       display: none;
   }
   
    .logo{
        display: flex;
    }
    .navbar{
        justify-content: flex-start;
    }
    .logo{
       margin-left: 10%;
    }
    .hello-albert{
        margin-top: 10px;
      flex-direction: column;
      
    }
    .text{
        text-align:center;
        margin: 0;
        margin-top: 4em;
    }
    .title-projects{
        font-size: 20px;
    }
    .linecards{
        flex-direction: column;
        margin: 0;
    }
    .card{
        margin: 0;
        margin-top: 4em;
        width: 90%;
    }
    .card img{
        width: 100%;
    }
    .see-projects{
        margin-top: 6em;
    }
    .line-skills{
        flex-direction: row;
        margin: .5em;
    }
    .skill-icon{
        margin: 1em 0;
    
    }
    .rating img{
        width: 50%;
    }
    .display-rating-desktop{
        display: none;
    }
    .display-rating-mobile{
        display: block;
        width: 50%;
    }
  
    .rating{
        display: flex;
        flex-direction: column;
    }
    .wrap-white{
        display: none;
    }
    .mobile-wrap{
        display: flex;
        flex-direction: column;
        width: 100%;
        height:auto;
        background-color: white;
        color: black;
        
    
    }
    .mobile-wrap img{
       width: 100%;
       margin: -1em -.1em;
       
    

    }
   
    .mobile-wrap h3{
        padding: 4em;
        text-align: center;
        margin-top: 5%;
        font-size: 18px;
    }
    .btns-mobile-wrap{
        padding: 1em 0;
        display: flex;
        flex-direction: column;
        margin-top: 3em;
        justify-content: center;
        align-content: center;
    }
    .btn-mobile-see-all{
        
            padding: 14px 28px;
            background-color: #FF38DF;
            color: white;
            text-decoration: none;
            text-align: center;
            border-radius: 8px;
            margin: .4em 5em;
    }
    .btn-mobile-contact-me{
        padding: 14px 32px;
            border: 1px solid #FF38DF;
            color: white;
            text-decoration: none;
            border-radius: 8px;
            text-align: center;
            margin: .4em 5em;
    }
    .title-companies{
        font-size: 16px;
    }
    .icon-companies img{

        width: 20%;
    }
    .companies-grid{
        flex-direction: column;
    }
    .icon-companies{
        margin:2em 0;
    }
    .footer{
        flex-direction: column;
    }
    .footer ul{
        margin: 0 2em;
    }
    .footer p{
        font-size:32px;
        margin-bottom: 1em;
    }
    .footer a{
        font-size: 14px;
    }
    .footer ul li{
        margin: 1em 0;
    }
    #navMobile{
        display: block;
       
    }
}







   
    
